{% extends 'base.html.twig' %}

{% block body %}
{% block title %}
  <h1 style="color: #007bff; font-family: 'Arial', sans-serif;">Ajouter un Département</h1>
{% endblock %}
 {{ form_start(form) }}

 {{ form_widget(form) }}

  <button type="submit" class="btn btn-warning">Créer</button>
 {{ form_end(form) }}
{% endblock %}